.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(244, 117, 5, 0.845);
}

.recovered {
  border-bottom: 10px solid rgba(6, 103, 6, 0.803);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.988);
}
